@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: 'Poppins', sans-serif;
} */

html {
  scroll-behavior: smooth;
}

.main {
  background: #f5f5f5 url(./assets/pattern.png);
  background-attachment: fixed;
}

.radius {
  border-radius: 50% 0px 50% 0px;
}

.nama-surah {
  font-family: "Amiri Quran", serif;
}

.desc {
  animation: dropdown 1s ease;
}

@keyframes dropdown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(16 185 129);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
